<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Publicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    Titulo
  </ion-label>
  <form [formGroup]="publicacionForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-textarea formControlName="Titulo"></ion-textarea>
    </ion-item>
    <ion-button class="botonFoto" (click)="tomarFoto()">
      <ion-icon icon="camera-outline"></ion-icon> 
      Fotografia</ion-button>
      <img *ngIf="fotografia != null" [src]="fotografia.webPath" alt="Foto" />
    <ion-item>
      <ion-label style="margin-bottom: 10px;">
        Descripcion
      </ion-label>
    </ion-item>
    <ion-item style="margin-bottom: 80px;">
      <ion-textarea formControlName="Descripcion"></ion-textarea>
    </ion-item>
  </form>
  <ion-button (click)="onSubmit()">
    GUARDAR
  </ion-button>
</ion-content>
